@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
}
header .bg-light{
    background-color: #4a4a4a !important;
}
header .navbar{
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

header .navbar-light .navbar-nav .nav-link.active{
    color: #bea285;
}
header .navbar-light .navbar-nav .nav-item:hover{
    background-color: #f8f8f8;
    color: #6c6c6c;
}
header .navbar-light .navbar-nav .nav-item{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*style for best seller*/
#best-sellers .container .best-seller{
    border-bottom: 1px solid #e5e5e5;
}

#best-sellers .container h2{
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 0.25rem;
    color: #000;
    text-transform: uppercase;
}

#best-sellers .container h2 span{
    font-weight: 400;
    font-style: normal;
}
#best-sellers .card{
    border: none;
}
#best-sellers .card .card-body .card-title a{
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.5px;

}
#best-sellers .card .card-body .card-text{
    color: #ccc;
    font-size: 10px;
}
#best-sellers .card .card-body .dollar{
    font-weight: 600;
}

#best-sellers .card .card-body .btn-light{
    background-color: transparent;
}
#best-sellers .card .card-body .add-to-card{
    border: 1px solid #d1d1d1;
}

#best-sellers .card .card-body .star{
    color: #ccc;
    font-size: 10px;
}

#wrapper .accordion-button::after{
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
#wrapper .accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
}
section .container h2{
    display: block;
}
#wrapper .accordion-item{
    background-color: #fff;
    border: none;
    position: relative;
}

#wrapper .accordion-button{
   
    display: inline-block;
    align-items:unset;
    font-size: 0.8rem;
    background-color: #fff;
    border-color: #fff;
    transition: none;
}
#wrapper .accordion-item i{
    position: absolute;
    right: 4.5rem;
    top: 2rem;
    font-size: 0.7rem;
    font-weight: 600;
    display: inline-block;

}

#wrapper .accordion-button:focus{
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

#wrapper .accordion-button:not(.collapsed) .fa-plus::before{
    content: '-';
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    top: -1rem;
}